mixin software
  .software_all
    .software_icon
      include SOFTWARE_ICON.svg
    .software_title= "SOFTWARE"
    .software_line
    .software_block
      .software_name-program__left= "PHOTOSHOP"
      .software_name-program__right= "DREAMWEAVER"
    .software_block
      .software_name-program__left= "ILLUSTRATOR"
      .software_name-program__right= "AFTER EFFECTS"
    .software_block
      .software_name-program__left= "INDESIGN"
      .software_name-program__right= "HTML&CSS3"
