mixin skills(creativeNumber, teamworkNumber, innovateNumber, communikationNumber)
  .skills_all
    .skills_icon
      include SKILL_ICON.svg
    .skills_title= "SKILLS"
    .skills_line
    .skills_creative= "CREATIVE"
    .skills_diagram
      - for (var x = 0; x < creativeNumber; x++)
        .skills_circle__maincolor
      - for (var x = 0; x < 12 - creativeNumber; x++)
        .skills_circle__secondColor
    .skills_teamwork= "TEAMWORK"
    .skills_diagram
      - for (var x = 0; x < teamworkNumber; x++)
        .skills_circle__maincolor
      - for (var x = 0; x < 12 - teamworkNumber; x++)
        .skills_circle__secondColor
    .skills_innovate= "INNOVATE"
    .skills_diagram
      - for (var x = 0; x < innovateNumber; x++)
        .skills_circle__maincolor
      - for (var x = 0; x < 12 - innovateNumber; x++)
        .skills_circle__secondColor
    .skills_communication= "COMMUNICATION"
    .skills_diagram
      - for (var x = 0; x < communikationNumber; x++)
        .skills_circle__maincolor
      - for (var x = 0; x < 12 - communikationNumber; x++)
        .skills_circle__secondColor