mixin skills
  .skills_all
    .skills_icon
      include SKILL_ICON.svg
    .skills_title= "SKILLS"
    .skills_line
    .skills_creative= "CREATIVE"
    .skill_circle
    .skills_teamwork= "TEAMWORK"
    .skill_circle
    .skills_innovate= "INNOVATE"
    .skill_circle
    .skills_communication= "COMMUNICATION"
    .skill_circle